.swiper-wrapper {
  overflow: hidden;
  margin: 0 auto;
  will-change: transform;
}

.swiped-area {
  height: 100%;
  display: flex;
}

.wrapper {
  height: 100%;
  width: 100%;
  background-color: yellow;
}

.slide {
  min-width: 230px;
}